p {text-aling:center;, font-size: 20 px; 
background: # cccccc;}
H1{font-size: 50 px; text-align: center; background-color: aqua;}
body{background-color: rgba(0, 0, 0, 0.596) ;}
#imagem1 {
 width: 100%;
}
 h1 {border: 10px; padding: 20px; text-align: center}
.itens{ font-style: italic;}